/* CUSTOM STORY STYLE */

/* Device media queries */
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

.nav
    width inherit
    margin auto

#content
    line-height 24px

#warren-scroll 
    position relative
    .scroll__img
        height 100vh
        position sticky
        position -webkit-sticky
        top 0
        margin 0 auto
        // width $column-width
        img
            height 100%
            object-fit cover
            -webkit-filter grayscale(80%)
            filter grayscale(80%)
    .scroll__text
        max-width $scroll-column-width
        margin 0 auto
        position relative
    .step 
        height 100vh
        
    @media phone
        .scroll__img
            height 100vh
            img 
                height 100%
                object-fit cover
                object-position center
        .scroll__text
            width 90%

#fio-explain 
    max-width $column-width
    margin 2rem auto
    @media phone
        width 90%

#declined
        .subject-num
            path 
                fill none
                stroke rgba(0,0,0,0.5)
                stroke-width 3px
        .subject-num-circle
            fill rgba(255,255,255,1)
            stroke rgba(0,0,0,0.5)
        
#black
    .graphic
        .stacked-bar-title
            font-family $sans
        .stacked-bar-legend
            font-family $sans
            font-size 12px
            fill rgba(0,0,0,0.6)

#scatter
    position relative
    display flex
    @media phone
            display block
    max-width 100%
    .scroll__graphic
        margin 1rem
        position sticky
        position -webkit-sticky
        top 10rem
        align-self start
        .scatter
            cursor pointer
        .more-black-text, .more-white-text
            @media phone
                font-size 7px
        p
            font-size 12px
            font-family $sans
     .scroll__text
        max-width $scroll-column-width
        position relative
    .step 
        height 100vh
        p
            background-color rgba(255,255,255,1)    
            padding 1rem 
            box-shadow 2px 2px 3px rgba(0,0,0,0.5)

#map1, #map2
    .graphic-container
        .graphic
            position relative
            .map-title
                text-align center
            .crime-stop-map, .stop-black-map
                position relative
                .map-legend
                    position absolute
                    line-height 1em
                    font-size 12px
                    @media phone
                        font-size 8px
                .top 
                    top 61%
                    left 65%
                .right 
                    top 75%
                    left 83%
                .bottom
                    top 90%
                    left 65%
                .left 
                    top 75%
                    left 45%
                    text-align right
            // .small-map-one
            //     grid-area sideOne 
            //     justify-self start
            // .small-map-two
            //     grid-area sideTwo
            //     justify-self start
            //     align-self start
            // div.legend-text   
            //     position absolute
            //     p
            //         font-size 10px
            //         margin 0
            //         line-height 1.2
            //         @media phone
            //             font-size 8px
            // table 
            //     margin 0
            //     border-collapse collapse
            //     width 5rem
            //     height 5rem
            //     transform rotate(-45deg)
            //     position absolute
            //     top 0 
            //     left 0
            //     @media phone
            //         width 2rem
            //         height 2rem
            // tbody 
            //     display table-row-group
            //     vertical-align middle
            //     td
            //         display table-cell
            //         vertical-align inherit
            //         border-color #ffffff
            //         border-width 1px    
                    
            // .arrow
            //     height fit-content
            //     font-size 25px
            //     cursor pointer
            // .arrow-bounce
            //     -webkit-animation bounce .3s infinite alternate;
            //     -moz-animation bounce .3s infinite alternate;
            //     animation bounce .5s infinite alternate;
                    
            //     @keyframes bounce {
            //         to { transform: scale(1.2); }
            //     }
.hidden
    display none           

#large-black, #stop-by-race
    position relative
    .conclusion
        display none
    .scroll
        position relative
        display flex
        @media phone
            display block
        justify-content center
        &__text
            display none
            .step 
                p
                    background-color rgba(255,255,255,1)    
                    padding 1rem 
                    box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            .overall-boston
                opacity 0
        &__graphic
            position sticky
            position -webkit-sticky
            top 0
            margin 0 auto
            align-self start
            .graphic 
                position relative
                display none
                text-align center
                .tool-tip 
                    background-color rgba(255,255,255,1)
                    stroke rgb(0,0,0)
                .stop-circle
                    cursor pointer
                .black-stop-chart-title
                    font-size 12px
                    text-align center
                .black-stop-container
                    display grid
                    justify-content center
                .slope-circle
                    fill rgba(255,255,255,1)
                    stroke rgb(0,0,0)
                    stroke-width 1
                .slope-label 
                    font-size 11px
                .title
                    text-anchor middle
                    font-size 16px
                .legend-text
                    font-family $sans
                    font-size 16px
    .assigned-person
        font-size 50px
        width 80%
        line-height 1.5
    .select-person-intro
        max-width $column-width
        margin 0 auto
    .button-group
        display flex
        justify-content space-between
        max-width $column-width
        margin 3rem auto
        button
            width 45%
            height 3rem
            opacity 0.8
            box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            padding 0
        button:hover
            background-color rgba(0,0,0,0.9)
            color rgba(255,255,255,1)

#stop-by-race
    .scroll
        &__graphic
            top 0

#by-race-conclusion
    display none
    
#conclude
    display none

// .white-color
//     color #9650A9
// .black-color
//     color #8DB77D
.selected-person
    opacity 1
    background-color rgba(0,0,0,0.9)
    color rgba(255,255,255,1)
    
.step, .scroll__text
    pointer-events none

.scroll__text
    margin-top 20rem

.step
    position relative
    z-index 999
    height 60vh
    max-width $column-width
    margin 5rem 2rem
    p
        background-color rgba(255,255,255,1)    
        padding 1rem 1.5rem 
        box-shadow 2px 2px 3px rgba(0,0,0,0.8)
        line-height 1.6em

.graphic, .scroll__graphic
        margin 3rem auto

.scroll__graphic
    width 50%
    @media phone
        width 90%
svg
    .axis
        .domain
            stroke rgba(0,0,0,0.8)
        .tick line
            opacity 0
        .tick text
            fill rgba(0,0,0,0.8)
    .label
        font-family $sans
        font-size 12px

.tool-tip 
    position: absolute
    visibility hidden

#black, #suppor-fio, #declined, #map1, .rhone, #map2, #select-person, #large-black .paragraph, #stop-by-race .paragraph, #by-race-conclusion .paragraph, #conclude
    max-width $column-width
    margin 0 auto
    @media phone
        width 90%