/* CUSTOM STORY STYLE */

/* Device media queries */
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

nav
    width inherit
    margin auto 
    #menuToggle
        width fit-content

#warren-scroll 
    position relative
    .intro-container 
        height 100vh
        width 100%
        position absolute
        .intro 
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 35%
            background rgba(0,0,0,0.5)
            text-align center
            color rgba(255,255,255,1) 
            padding 2rem 1.5rem
            @media phone
                width 80%
            p
                color rgba(255,255,255,1) 
                line-height 1.2em
            h1 
                font-size 6rem
                line-height 6rem
                margin-top 0
                @media phone
                    font-size 4rem
                    line-height 4rem
    .scroll__img
        height 100vh
        position sticky
        position -webkit-sticky
        top 0
        margin 0 auto
        overflow hidden
        // width $column-width
        z-index -1
        img
            height 100%
            object-fit cover
            -webkit-filter grayscale(0%)
            filter grayscale(0%)
            transform scale(2.5)
            @media phone
                transform scale(1)
    .scroll__text
        max-width $scroll-column-width
        margin 0 auto
        position relative
    .step 
        height 100vh
    #cold-night
        margin-top 50%
        
    @media phone
        .scroll__img
            height 100vh
            img 
                height 100%
                object-fit cover
                object-position center
        .scroll__text
            width 90%

#fio-explain 
    max-width $column-width
    margin 2rem auto
    @media phone
        width 90%

#declined
        .subject-num
            path 
                fill none
                stroke rgba(0,0,0,0.5)
                stroke-width 3px
        .subject-num-circle
            fill rgba(255,255,255,1)
            stroke rgba(0,0,0,0.5)
        
#black
    .graphic
        .stacked-bar-title
            font-family $sans
        .stacked-bar-legend
            font-family $sans
            font-size 12px
            fill rgba(0,0,0,0.6)

#scatter
    position relative
    display flex
    @media phone
            display block
    max-width 100%
    .scroll__graphic
        position sticky
        position -webkit-sticky
        top 10rem
        align-self start
        @media phone
            top 12rem
        .scatter
            cursor pointer
        .more-black-text, .more-white-text
            @media phone
                font-size 7px
        p
            font-size 12px
            font-family $sans
     .scroll__text
        position relative
    .step 
        height 100vh
        p
            background-color rgba(255,255,255,1)    
            padding 1rem 
            box-shadow 2px 2px 3px rgba(0,0,0,0.5)

#map
    .graphic-container
        .graphic
            position relative
            .map-title
                // text-align center
            .crime-stop-map, .stop-black-map
                position relative
                .map-legend-group
                    width 25%
                    height 25%
                    right 15%
                    bottom 5%
                    position absolute
                    .wrapper
                        position relative
                    .map-legend
                        position absolute
                        line-height 1em
                        font-size 12px
                        width fit-content
                        @media phone
                            font-size 8px
                    .top 
                        top -8%
                        left: 50%;
                        -webkit-transform translateX(-50%)
                        -ms-transform translateX(-50%)
                        transform translate(-50%, 0)  
                    .right 
                        right -15%
                        bottom 50%
                        -webkit-transform translate(50%, 50%)
                        -ms-transform translate(50%, 50%)
                        transform translate(50%, 50%)
                    .bottom
                        bottom -8%
                        left: 50%;
                        -webkit-transform translateX(-50%)
                        -ms-transform translateX(-50%)
                        transform translate(-50%, 0)  
                    .left 
                        bottom 50%
                        left -15%
                        -webkit-transform translate(-50%, 50%)
                        -ms-transform translate(-50%, 50%)
                        transform translate(-50%, 50%)

.rhone
    .quote
        margin 6rem auto
        color #81A8AD
        font-size 4rem
        line-height 4.2rem
        font-family "Lora", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
        font-style italic
        font-weight 800
        text-align center
        @media phone
            font-size 3rem
            line-height 3.3rem
         
            
.hidden
    display none           

#large-black, #stop-by-race
    position relative
    .conclusion
        display none
    .scroll
        position relative
        display flex
        @media phone
            display block
        justify-content center
        &__text
            display none
            .step 
                p
                    background-color rgba(255,255,255,1)    
                    padding 1rem 
                    box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            .overall-boston
                opacity 0
        &__graphic
            position sticky
            position -webkit-sticky
            top 0
            margin 0 auto
            align-self start
            .graphic 
                position relative
                display none
                text-align center
                .x-axis .tick line
                    opacity 0.2
                .y-axis .domain
                    visibility hidden
                .tool-tip 
                    background-color rgba(255,255,255,1)
                    stroke rgb(0,0,0)
                .stop-circle
                    cursor pointer
                .black-stop-chart-title
                    font-size 12px
                    text-align center
                .black-stop-container
                    display grid
                    justify-content center
                .white-slope-circle
                    fill rgba(255,255,255,1)
                    stroke rgb(0,0,0)
                    stroke-width 1
                .slope-label 
                    font-size 11px
                .title
                    text-anchor middle
                    font-size 16px
                .legend-text
                    font-family $sans
                    font-size 12px
                .byside-circle-legend
                    font-size 12px
                    @media phone
                        font-size 10px
    .assigned-person
        margin-top 1em
        font-size 65px
        max-width $column-width
        line-height 1.5
        font-family "Lora", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
        color rgba(0,0,0,0.9)
        @media phone
            margin 0 auto
            width 60%
            text-align center
            font-size 45px
    .select-person-intro
        max-width $column-width
        margin 0 auto
    .button-group
        display flex
        justify-content space-between
        max-width $column-width
        margin 5rem auto
        @media phone
            display grid
            justify-content center
        .left-person, .right-person
            width 45%
            height 4rem
            opacity 0.8
            box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            padding 0
            @media phone
                height auto
                padding 1rem 2rem
                width fit-content
                margin 1rem auto
        .selected-person
            opacity 1
            background-color rgba(0,0,0,0.9)
            color rgba(255,255,255,1)
        button:hover
            background-color rgba(0,0,0,0.5)
            color rgba(255,255,255,1)

#method
    div 
        border-top 1px solid rgba(0,0,0,0.2)
        ul
            margin-top 1rem
            li
                font-size 1.2rem
                color rgba(0,0,0,0.5)

.white-underscore 
    color white
    background-color rgba(0,0,0,0.9)
    padding 0 5px
    font-weight 800

#stop-by-race
    .scroll
        &__graphic
            top 0

#by-race-conclusion, #conclude, #method
    display none
    
.step, .scroll__text
    pointer-events none
    z-index 999
    margin 0 auto

.scroll__text
    margin-top 20rem
    max-width 35%
    @media phone
        max-width 90%

.step
    position relative
    z-index 999
    height 100vh
    margin 5rem 2rem
    p
        background-color rgba(255,255,255,1)    
        padding 1rem 1.5rem 
        box-shadow 2px 2px 3px rgba(0,0,0,0.8)
        line-height 1.6em
    p.explore, p.explore-race
        padding 0 !important

.graphic, .scroll__graphic
        margin 3rem 1rem
        @media phone
            margin 1rem 1rem

.scroll__graphic
    width 65%
    z-index -1
    @media phone
        width 90%
svg
    .axis
        .domain
            stroke rgba(0,0,0,0.8)
            visibility hidden
        .tick line
            opacity 0.2
        .tick text
            fill rgba(0,0,0,0.8)
    .x-axis
        .tick line
            opacity 0
    .label
        font-family $sans
        font-size 12px

.tool-tip 
    position: absolute
    visibility hidden

#black, #suppor-fio, #declined, .rhone, #map, #select-person, #large-black .paragraph, #stop-by-race .paragraph, #by-race-conclusion .paragraph, #conclude, #method
    max-width $column-width
    margin 0 auto
    @media phone
        width 90%

// map text
#g-stop-black-map-_1 p
    font-size 12px
    @media phone
        font-size 8px