<!-- Footer -->
<div class='footer'>
	<h5><b>INNOVATI<span style="color:red">20</span>N<span style="color:red">20</span></b> showcases the master's
		projects
		of the 2020 <a
			href="https://www.northeastern.edu/graduate/program/master-of-arts-in-journalism-media-innovation-track-5228/">Media
			Innovation program</a> at the Northeastern University School of Journalism. © 2020</h5>
	<h5 style="border-top: none; margin-top: -2%; text-align: center"><img
			src="https://mediainnovation.camd.northeastern.edu/2020/images/seal_logotype-768x252.png" width="300px">
	</h5>
</div>
