<a href='#content' class='skip-to-main'>Skip to main content</a>

<header
	class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}}'>
	<!-- Hamburger menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<nav role="navigation" class="nav">
		<div id="menuToggle">
			<!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
			<input type="checkbox" />

			<!--
    Some spans to act as a hamburger.
    -->
			<p class="nav-text">Projects</p>

			<span></span>
			<span></span>
			<span></span>

			<ul id="menu">
				<a href="https://mediainnovation.camd.northeastern.edu/2020/">
					<li style="font-family: 'Metric-Regular'; font-size: 1.3rem">| X | CLOSE</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/abdalrahim">
					<li>Ribal Abdalrahim</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/chen">
					<li>Szu Yu Chen</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/condon">
					<li>William Condon</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/erb">
					<li>Jordan Erb</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/halpin">
					<li>Carro Halpin</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/hunger">
					<li>Ruth Hunger</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/qualls">
					<li>Josh Qualls</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/sadaka">
					<li>Dalia Sadaka</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/sahagian">
					<li>Katelyn Sahagian</li>
				</a>
				<a href="https://mediainnovation.camd.northeastern.edu/2020/stoico">
					<li>Nick Stoico</li>
				</a>



			</ul>
		</div>
	</nav>

</header>