<div id='black'>
    <div class='paragraph'>
        <p> 
            {{doc.disproportionately-black}}
        </p>
    </div>
    <div class='graphic'>
        <svg>
            <g class='graphic__chart'>
                <g class='chart__pop'></g>
                <g class='chart__stop'></g>
            </g>
        </svg>
    </div>
</div>