<div id='by-race-conclusion'>
    {{#each doc.by-race}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
    {{/each}}
    <div class='graphic'>
    </div>
</div>