<div id='declined'>
    <div class='paragraph'>
        <p class='paragraph__text'>
            {{doc.steadily-declined}}
        </p>
    </div>
    <div class='graphic'>
        <div>
            <h3>
                The number of people Boston police observed, stopped and frisked has decreased
            </h3>
        </div>
        <svg>
            <g class='chart'></g>
            <g class='axis x-axis'></g>
            <g class='axis y-axis'></g>
        </svg>
    </div>
    <div class='paragraph'>
        <p class='paragraph__text'>
            {{doc.persist}}
        </p>
    </div>
</div>