<div id='map'>
    {{#each doc.maps}}
        <p>
            {{value}}
        </p>
    {{/each}}
    <div class='graphic-container'>
        <div class='arrow arrow-bounce left-arrow'>&#8592;</div>
        <div class='graphic'>
            <div class='map-title'></div>
            <svg>
                <g></g>
            </svg>
        </div>
        <div class='arrow arrow-bounce right-arrow'>&#8594;</div>
    </div>
</div>