<div id='map1'>
    <div class='map-paragraph'>
        <p>
            {{doc.map1}}
        </p>
    </div>
    <div class='graphic-container'>
        <div class='graphic'>
            <div class='map-title'>
                Crime Index vs. Frequency of Stops
            </div>
            <div class='bi-map crime-stop-map'>
                <img src='assets/images/maps/crime-stop-map.png'>
                <div class="map-legend top">More crime</br>more stops</div>
                <div class="map-legend right">Less crime</br>more stops</div>
                <div class="map-legend bottom">Less crime</br>less stops</div>
                <div class="map-legend left">More crime</br>less stops</div>
            </div>
            {{!-- <svg class='bi-map'>
                    <g class='map'></g>
                </svg>
                 --}}
            {{!-- <table class='map-legend'>
                    <tbody>
                        
                        <tr>
                            <td class='cell high_low'></td>
                            <td class='cell high_medium'></td>
                            <td class='cell high_high'></td>
                        </tr>
                        <tr>
                            <td class='cell medium_low'></td>
                            <td class='cell medium_medium'></td>
                            <td class='cell medium_high'></td>
                        </tr>
                        <tr>
                            <td class='cell low_low'></td>
                            <td class='cell low_medium'></td>
                            <td class='cell low_high'></td>
                        </tr>
                      
                    </tbody>
                </table> --}}
            {{!-- <div class='crime-map'>
                <div class='map-title crime-map-title'></div>
                <div class='map-tip crime-map-tip'></div>
                <svg>
                    <g></g>
                </svg>
            </div>
            <div class='stopped_per-map'>
                <div class='map-title stopped_per-map-title'></div>
                <div class='map-tip stopped_per-map-tip'></div>
                <svg>
                    <g></g>
                </svg>
            </div>
            <div class='percent_black-map'>
                 <div class='map-title percent_black-map-title'></div>
                 <div class='map-tip percent_black-map-tip'></div>
                <svg>
                    <g></g>
                </svg>
            </div> --}}
            {{!-- <div class='crime-map'></div>
            <div class='map-title'></div>
            <svg>
                <g></g>
            </svg> --}}
        </div>
        {{!-- <div class='arrow arrow-bounce right-arrow'>&#8594;</div> --}}
    </div>
</div>