<div id='scatter'>
    <div class='scroll__graphic'>
        <div>
            <h3>
                Crime Index vs. Stops per 100 People
            </h3>
        </div>
        <div class='tool-tip'></div>
        <svg>
            <g class='vis'></g>
            <g class='axis x-axis'></g>
            <g class='axis y-axis'></g>
        </svg>
    </div>
    <div class='scroll__text'>
        {{#each doc.scatter}}
            <div class='step' data-step='{{step}}'>
                <p>
                    {{text}}
                </p>
            </div>
        {{/each}}
    </div>
</div>