<div id='stop-by-race'>
    <div class='stop-by-race-intro'>
        <div class='paragraph'>
            <p></p>
        </div>
    </div>
    <div class='sticky-div'>
        <div class='graphic'>
            <svg>
                <g></g>
            </svg>
        </div>
    </div>
    <div class='result'>
        <div class='step' data-step='your-race-in-boston'>
            <p class='your-race-in-boston'></p>
        </div>
        <div class='step' data-step='if-another'>
            <p class='if-another'></p>
        </div>
    </div>
</div>